*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #b1f2d2;
}

.titulo{
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 2rem;
    align-items: center;
}

.titulo h1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: #1044A3;
}

h2{
    color: #1044A3;
    font-family: 'Playfair Display', serif;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: #FABECC;
    margin-right: .75em;
}

.container-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #C24921;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.acepto input{
    margin-right: .75em;
    margin-bottom: 20px;
    cursor: pointer;
    accent-color: #FABECC;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #FABECC;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 50px;
}
.container-form .btn-enviar:hover{
    background: #FCCB38;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.info-form h3 {
    margin-bottom: 15px;
    font-size: 25px
}

#h3-info {
    font-family: 'Playfair Display', serif;
    color: #1044A3;
    font-size: 2rem;
}

footer{
    background-color: #F2EDE1;
    padding: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.footer-info-encabezado{
    display: flex;
    align-items: center;
}

footer .datos-contacto{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    #contactForm{
        width:100%;
    }
    .footer-info-encabezado{
        display: grid;
        justify-items: center;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer{
        display: block;
        justify-content: center;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-info-encabezado{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    h4, p, a {
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    #contactForm{
        width:100%;
    } 
}