@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #B1F2D2; /* #EDFAE8; /*verde claro*/
 
    /*amarillo y naranja para resaltar los elementos importantes, como el botón de llamada a la acción*/
    /*color: #606178;*/
}
h2{
    color: #1044A3; /*#202899; /*azul oscuro*/;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: #FABECC;
    margin-right: .75em;
}
.container-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #C24921;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.acepto input{
    margin-right: .75em;
    margin-bottom: 20px;
    cursor: pointer;
    accent-color: #FABECC;
}
/* .acepto input:checked{
    accent-color: orange;
} */

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #FABECC; /* orange;*/
    /* color: white; */
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 50px;
}
.container-form .btn-enviar:hover{
    background: #FCCB38;
}

.info-form h3 {
    margin-bottom: 15px;
    font-size: 25px
}
